.list-item {
  border: 1px solid gray;
  border-radius: 25px;
  padding: 30px;
  max-width: 40vw;
  width: 100%;
  min-width: 300px;
}
.add-section {
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-section > btn {
  display: inline-block;
  font-size: 1.5rem;
}

.add-section > .is-adding{
  display: none;
}