.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.container>nav>ul {
  display: flex;
  justify-content: flex-start;
}

.container>nav {
  width: 100%;
}

.container>nav>ul>li {
  flex-basis: 100px;
  text-align: center;
}

ul {
  list-style-type: none;
}

ul>li:last-child {
  display: flex;
  margin-left: auto;
  flex-basis: 200px !important;
}

ul>li:last-child>* {
  margin-right: 5px;
}